{% load static %}
<link rel="stylesheet" href="{% static 'css/navarbar.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar-top.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIGHTING</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a href="http://www.fighting.com.ar"><img width='50' src="{% static 'publicaciones/images/favicon.jpg' %}" alt=""></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Nuevo Profesor</a>
              </li>
              <li class="nav-item">                               
                <a class="nav-link" href="#">Cargar Contenido</a>
              </li>      
              
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link"  href="#">Logout</a>
                </li>
                <li class="nav-item">                               
                  <p class="nav-link">{{user.username}}</p>
                </li> 
              {% endif %}
                        
            </ul>
          </div>
        </div>
      </nav>
      
      {% block contenido %}
        
      {% endblock contenido %}

      
        
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>

</html>