{% load static %}
<link rel="stylesheet" href="{% static 'publicaciones/css/navarbar.css' %}">
<link rel="stylesheet" href="{% static 'publicaciones/css/navbar-top.css' %}">
<link rel="stylesheet" href="{% static 'publicaciones/css/style.css' %}">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIGHTING</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"> 
</head>
  <body>
  <!-- Page-->
  <div class="page text-center"><a class="section section-banner text-center d-none d-xl-block" ></a>
    <!-- Page Head-->
    <header class="page-head slider-menu-position" data-preset='{"title":"Header with slider","category":"header, slider","reload":true,"id":"header-1"}'>      
      <div class="context-dark">
        <!-- Modern Breadcrumbs-->
        <section>
         
          <div class="parallax-container breadcrumb-modern bg-gray-darkest" data-parallax-img="images/background-04-1920x750.jpg">
            <div class="parallax-content"> 
              <div class="rd-navbar-brand">
                <a href="index.html"><img width='250' height='auto'  src="{% static 'publicaciones/images/logo.png' %}" alt=''/></a>            
           </div>
              <div class="container section-top-98 section-bottom-34 section-lg-bottom-66 section-lg-98 section-xl-top-110 section-xl-bottom-41">
                
                <form method="post">{% csrf_token %}
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"></label>
                    <input type="username" class="form-control" id="exampleInputEmail1"  placeholder="Usuario" name="username">
                    <div id="emailHelp" class="form-text">Nunca compartiremos su correo electrónico.</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"></label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="password">
                  </div>
                  <button type="submit" class="btn btn-primary">Ingresar</button>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </header>
    
    <section>
      <div>
        
      </div>
    </section>
      <!--FOOTER-->
      <footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark novi-background" data-preset='{"title":"Footer","category":"footer","reload":true,"id":"footer"}'>
        <div class="container">
                  <p class="pie">Jessica Quiroga - Personal Trainer &copy; <span id="copyright-year"></span> .
                    Design&nbsp;by&nbsp;<a href="">Bug`s DS</a>
                  </p>
        </div>
      </footer>
          
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>
  </body>
</html>

    
